// ===============================================
// Default Colors
// ===============================================
$color1: #000; // black
$color2: #fff; // white
$color3: #666; // medium grey
$color4: #ccc; // light grey

// ===============================================
// State Colors
// ===============================================
$color-success : #5cb85c;
$color-info    : #5bc0de;
$color-warning : #f0ad4e;
$color-danger  : #d9534f;

// ===============================================
// Social Services Colors
// ===============================================
$fb-blue: #3b5998;
$tw-blue: #00aced;
$yt-red: #b00;

// ===============================================
// Theme Colors
// ===============================================
$theme1: #dc2327;