// Snifter version.
//
// @type  {string}
$version: '1.0.0';

// Old IE
//
// @type  {boolean}
$old-ie: false !default;

// Parent theme directory name
//
// @param  {string}
$parent-theme-dir : 'snifter';

// Bower path
//
// @param  {string}
$bower-path: '../bower_components';

// Parent theme path
//
// @param  {string}
$parent-path: '../../../#{$parent-theme-dir}';


// Base transition.
//
// @param  {String}
$default-transition: 0.15s ease-out;